<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Optional permissions (depending on your app's requirements) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DYEY"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".homeFolder.ProfileFragment.SettingActiviy.Subscription.SubscriptionDetails"
            android:exported="false" />
        <activity
            android:name=".homeFolder.ProfileFragment.SettingActiviy.Subscription.Subscription"
            android:exported="false" />
        <activity
            android:name=".homeFolder.ProfileFragment.SettingActiviy.ContactSupport.ContactSupport"
            android:exported="false" />
        <activity
            android:name=".homeFolder.ProfileFragment.SettingActiviy.TermAndCondition.TermAndCondition"
            android:exported="false" />
        <activity
            android:name=".homeFolder.ProfileFragment.SettingActiviy.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".homeFolder.ProfileFragment.EditProfile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.EditOffer.EditOffersActivity"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.RestaurantDetail.RestaurantAbout"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.OfferEndActivty.SubmitOffers"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.OfferEndActivty.OfferEnd"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.RestaurantDetails.RestaurantDetails"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.SearchByCuisin"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.LocationCreate"
            android:exported="false" />
        <activity
            android:name=".homeFolder.OfferFragment.CreateOffer.CreateOffer"
            android:exported="false" />
        <activity
            android:name=".homeFolder.HomeFragment.UserDetails.UsersProfile"
            android:exported="false" />
        <activity
            android:name=".authentication.ForgotPassword.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".authentication.ForgotPassword.Verification"
            android:exported="false" />
        <activity
            android:name=".authentication.ForgotPassword.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".authentication.SignIn.SignIn"
            android:exported="false" />
        <activity
            android:name=".homeFolder.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.UploadID"
            android:exported="false" />
        <activity
            android:name=".authentication.SignUp.SignUp"
            android:exported="false" />
        <activity
            android:name=".loginFolder.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="your.file.provider.authority.DYEY"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>